<%- include("partials/header"); -%>
<div>
  <h1>Home</h1>
  <p><%=content%></p>
</div>
<div>
  <% head.forEach(function(item){%>
  <h1><%=item.title%></h1>
  <p><%=item.postbody.substring(0,100)+"..." %><a href="/<%= item.title%>">Read More</a></p>
  <% })%>
</div>
<%- include("partials/footer"); -%>
